img, div, input { behavior: url("/ajax/ie-png-fix") }

#logoImage
{
	width: 100px;
}

#lang_en
{
	float:right;
}

#lang_it
{
	float:right;
}

.lang
{
	float:right;
}

#categories li
{
width: 370px;
margin-left: -80px;
}

#categories h2
{
margin-left: 30px;
}

#sidebar h2
{
text-align:left;
}

#legal
{
width: 30px;
}

#addUrl
{
text-align:left;
}

#sitemap li ul li
{
text-align:left;
width: 150px;
}

#lang_en
{
float:left;
}

#lang_it
{
float:left;
position: relative;
bottom: 23px;
left: 27px;
}
body
{
text-align:left;
}