body {
	margin: 0;
	padding: 0;
	background: #000000 url(../images/background.jpg) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #CCCCCC;
	text-align:left;
}

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

input, textarea, select {
	font: normal 1em "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	font-weight: normal;
	color: #A0A0E0;
}

h1 {
	letter-spacing: -1px;
	font-size: 2.6em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
}

p, ul, ol {
}

p {
	color: #CCCCCC;
}

blockquote {
	font-style: italic;
}

ul {
}

ol {
}

dt
{
}

a, a:hover {
	color: #A0A0E0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

small {
}

hr {
	display: none;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 15px 0 0;
}

img.right {
	float: left;
	margin: 0 0 0 15px;
}


#container_box
{
	width: 923px;
	margin: 0 auto;
	color: #CCCCCC;
}

/* Header */

#header {
	width: 920px;
	height: 160px;
	margin: 0 auto;
}

/* Logo */

#logoImage {
	width: 230px;
	margin-left: 15px;
	margin-bottom: 5px;
}

.entry_content
{
 	color: #CCCCCC;
}

#logo {
	text-align: left;
	margin-top: 20px;
	float: left;
}

#logo h1, #logo h2 {
	margin: 0;
}

#logo h1 {
	padding-top: 52px;
	font-size: 4em;
	color: #554D49;
}

#logo h1 a {
	color: #554D49;
}

#logo h2 {
	margin-top: -10px;
	padding-left: 1px;
	letter-spacing: -1px;
	font-size: 1.8em;
	color: #7F7772;
	font-style: italic;
}

#logo h2 a {
	color: #7F7772;
}

#logo a {
	text-decoration: none;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 40px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 130px;
	height: 90px;
	padding-top: 30px;
	background: url(../images/header-button.jpg) no-repeat;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 1.6em;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 920px;
	margin: 0 auto;
	padding-top: 20px;
	color: #CCCCCC;
}

#latest-post {
	float: left;
	width: 480px;
}

#recent-posts {
	float: right;
	width: 380px;
	padding: 12px 0 0 30px;
	background: url(../images/recent_post.gif) repeat-y;
}

#recent-posts .entry {
	background: url(../images/recent_post_entry.gif) repeat-x left bottom;
}

.post {
	color: #CCCCCC;
}

.post .title {
	margin: 0;
}

.post .meta {
	margin: 0;
	padding-bottom: 10px;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #CCCCCC;
}

.post .meta a {
	color: #CCCCCC;
}

.post .entry {
	margin-bottom: 10px;
	padding-bottom: 5px;
	color: #CCCCCC;
}

/* Two Columns */

.two-columns {
	width: 770px;
	margin: 0 auto;
	padding: 20px 0;
	color: #CCCCCC;
}

.two-columns .column-one {
	float: left;
	width: 370px;
	color: #CCCCCC;
}

.two-columns .column-two {
	float: right;
	width: 370px;
	color: #CCCCCC;
}

.two-columns .title {
	height: 28px;
	padding: 7px 0 0 10px;
	background: #DB8603 url(../images/two_columns.gif) no-repeat;
	font-size: 1.4em;
	color: #CCCCCC;
}

.two-columns .entry {
	background: url(../images/two_columns_entry.gif) repeat-x;
}



/* Page */

#page {
	width: 980px;
	margin: 0 auto;
	padding: 20px 0;
	color: #CCCCCC;
}

/* Content */
#contact_form
{
	color: #356AA0;
}

#content {
	float: left;
	width: 930px;
	color: #CCCCCC;
}

.post {
	padding: 12px 50px;
	background: url(../images/post.jpg) no-repeat;
	color: #CCCCCC;
}

.post .title {
	letter-spacing: -1px;
	font-size: 2.4em;
	color: #356AA0;
}

.post .meta {
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #EFEFEF;
	line-height: normal;
	color: #CCCCCC;
}

/* Sidebar */

#sidebar
{
	clear: both;
	width: 920px;
	background: #202020 url(../images/background-footer.gif) no-repeat;
	border-top: 20px solid #000000;
	color: #909090;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	display: block;
	float: left;
	width: 200px;
	padding: 15px;
}

#sidebar li ul {
	line-height: 1.8em;
}

#sidebar li li {
	display: list-item;
	float: none;
	width: auto;
	padding: 0;
}
#sidebar ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li
{
	float: left;
	display: block;
	padding: 15px;
}

#sidebar li ul
{
	line-height: 1.8em;
}

#sidebar li li
{
	float: left;
	display: list-item;
	padding: 0;
	margin-right: 20px;
}

#categories
{
}

#categories li
{
	width: 430px;
	text-align: left;

}

#categories li ul li
{
	float: left;
	text-align: center;
	margin-right: 0px;
	margin-left: 30px;
}

#sitemap
{
	float: right;
	width: 230px;
}

#sitemap ul li
{
	clear:both;
	margin-left: 10px;
}

#search
{
}

#sidebar h2
{
	margin: 5px 0 3px 0;
	color: #A0A0E0;
}

#sidebar a
{
	text-decoration: none;
	color: #606060;
}

#sidebar a:hover
{
}

/* Footer */
#footer 
{
	width: 920px;
	height: 100px;
	background: url(../images/background-footer2.gif) no-repeat;
}

#footer a
{
	text-decoration: none;
}

#footer p 
{
	margin: 0;
	padding: 15px;
}

#legal 
{
	color: #333333;
	float: left;
width: 200px;
}

#legal img
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float:right;
	vertical-align:top;
}

#legal a
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
position: absolute;
}

#links 
{
	float: right;
}

.search_content_bg
{
	width: 920px;
	background: url(../images/background-footer2.gif) no-repeat;
}

.gsc-twiddleRegionCell
{
	text-align: left;
}

.gsc-control
{
	width: 260px;
}

.left_column
{
	float: left;
}

.right_column
{
	float: right;
	margin-right: 60px;
}

dt
{
	margin-bottom: 10px;
	list-style-type: none;
}

dd
{
	margin-bottom: 10px;
}

textarea
{
	border: 1px solid #CCCCCC;
	border-bottom: 1px solid #AAAAAA;
}

input
{
	border: none;
	border-bottom: 1px solid #CCCCCC;
}

th
{
	text-align: center;
	border-bottom: 1px solid #A0A0E0;
}

td
{
	text-align: center;
	padding: 10px 10px 10px 20px;
}

#legalNotices h1{text-align:center;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}

#legalNotices h2{padding:0px 0px 0px 0px;margin:15px 0px 15px 0px;}

#privacyPolicies h1{text-align:center;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}

#privacyPolicies h2{padding:0px 0px 0px 0px;margin:15px 0px 15px 0px;}

.listing
{
	border-left: 2px solid #E7B7E7;
	border-right: 2px solid #A0A0E0;
	margin: 0px 10px 20px 10px;
}

#url-details tbody, td
{
text-align: left;
}

#url-details
{
position: relative;
left: -30px;
}

#url-details p
{
}

.align-right
{
text-align: right;
}
 
#category_listing a, a:hover
{
text-decoration: none;
}

#dhtml-carousel, #dhtml-carousel2 {
	background-color: #000000;
    padding:8px;
    margin:0px;
    float:left;
    /* this would fix IE alignment --> padding-right:20px; */

}
#dhtml-carousel2 {
    margin-top:20px;
    padding:4px;    
}
#dhtml-carousel {
    margin-top:20px;
    padding:4px;    
}

.carousel-component .carousel-list li { 
    margin:2px;
    width:79px; /* img width is 75 px from flickr + a.border-left (1) + a.border-right(1) + 
                   img.border-left (1) + img.border-right (1)*/
    /*height:93px; *//* image + row of text (87) + border-top (1) + border-bottom(1) + margin-bottom(4) */
    /*    margin-left: auto;*/ /* for testing IE auto issue */
}

#dhtml-carousel2 .carousel-list li { 
    margin:12px;
}
#dhtml-carousel .carousel-list li { 
    margin:12px;
}

.carousel-component .carousel-list li a { 
    display:block;
    outline:none;
}

.carousel-component .carousel-list li a:hover { 
}

.carousel-component .carousel-list li img { 
    display:block; 
}                                    
                                    
.carousel-component .carousel-prev { 
    position:absolute;
    top:40px;
    z-index:3;
    cursor:pointer; 
    left:5px; 
}

.carousel-component .carousel-next { 
    position:absolute;
    top:40px;
    z-index:3;
    cursor:pointer; 
    right:5px; 
}

#categories_navigation 
{
	position: relative;
	top: -10px;
	clear: both;
	width: 920px;
	height: 105px;
	display: block;
}

#categories_navigation h2
{
	margin: 5px 0 3px 0;
	color: #A0A0E0;
}
 
#categories_navigation a
{
	text-decoration: none;
	color: #606060;
}

#categories_navigation a:hover
{
}

#categories_navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#categories_navigation li {
	width: 200px;
	padding: 15px;
}

#categories_navigation li ul {
	line-height: 1.8em;
}

#categories_navigation li li {
	display: list-item;
	width: auto;
	padding: 0;
}
#categories_navigation ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#categories_navigation li
{
	float: left;
	display: block;
	padding: 15px;
}

#categories_navigation li ul
{
	line-height: 1.8em;
}

#categories_navigation li li
{
	display: list-item;
	padding: 0;
	margin-right: 20px;
}

#content #content_description 
{
width: 300px;
}

#url-details
{
width: 600px;
}