<?php
/**
 * This script display a sil category navigation panel
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */

global $_SITE;

$limit = 10;

$postKeys = array_keys( $_GET );
$category = ( substr( $postKeys[0], 0, 4 ) != 'page' ) ? $postKeys[0] : NULL;

foreach ( $postKeys as $postKey )
if ( substr( $postKey, 0, 4 ) == 'page' )
     $page = (int) substr( $postKey, 4 );
else $page = 1;

$p = ( $page >= 2 ) ? $page - 1 : $page;
if ( $page >= 2 )
     $start = $p * $limit;
else $start = 0;

$end = $start + $limit;
?>
<h1 style="margin: 0 auto;width:200px;text-align: center;"><?=strtoupper( $category )?></h1>
<div id="sils_listing" style="text-align: center;">
<?
$mimetype = UrlTube_Parse::getMimetypeByCategory( $category );
$where = ( $category != 'web' ) ? array( 'scans.image = ?' => 'Y' ) : NULL;

$urls = UrlTube::getUrls( array( 'name', 'visits_counter' ), array( 'id_url', 'url', 'mimetype' ), array( 'image' ), array( 'links.creation_date DESC', 'links.visits_counter DESC' ), 'Y', $mimetype, $category, $category, array( 'limit' => 10, 'start' => $start ), FALSE, $where );
$total = (int) $urls[0]['total'];
print '<div class="paging">
<p style="text-align: center;">';
if ( $total >= 11 )
{
     if ( $page >= 2 ) print "<a href=\"?".BFCMS_Helper::cleanUriGet()."&page1\" title=\"First results\">First</a> | ";
     else print "First | ";
     
     if ( is_int( $page ) )
     {
          $resultsCounter = 1;
          
          for( $c = ( $page - 4 ); $c <= $page; $c++ )
          {
               if ( $c >= 1 && $page != $c )
               {
                    $last = $c;
                    print "<a href=\"?".BFCMS_Helper::cleanUriGet()."&page$c\" title=\"Page $c\">$c</a> ";
                    $resultsCounter++;
               }
          }
          
          $last = $page;
          print "$page ";
          
          for( $c = $page; $c <= 9; $c++ )
          {
               if ( $c >= 1 && $page != $c  )
               {
                    if ( ( ( $c - 1 ) * $limit ) <= $total ) {
                         $last = $c;
                         print "<a href=\"?".BFCMS_Helper::cleanUriGet()."&page$c\" title=\"Page $c\">$c</a> ";
                    }
               }
          }
     }
     
     if ( $page != $last ) print "| <a href=\"?".BFCMS_Helper::cleanUriGet()."&page$last\" title=\"Last results\">Last</a>";
     else print "| Last";
}
print '</div>';
switch( $category )
{
     default:
     case 'web':
          UrlTube_HTML::getHTMLCategoryWeb( $urls, $limit );
          break;
          
     case 'images':
          UrlTube_HTML::getHTMLCategoryImage( $urls, $limit );
          break;
}

print '<div class="paging">
<p style="text-align: center;">';

// Need paging ???
if ( $total >= 11 )
{
     if ( $page >= 2 ) print "<a href=\"?".BFCMS_Helper::cleanUriGet()."&page1\" title=\"First results\">First</a> | ";
     else print "First | ";
     
     if ( is_int( $page ) )
     {
          $resultsCounter = 1;
          
          for( $c = ( $page - 4 ); $c <= $page; $c++ )
          {
               if ( $c >= 1 && $page != $c )
               {
                    $last = $c;
                    print "<a href=\"?".BFCMS_Helper::cleanUriGet()."&page$c\" title=\"Page $c\">$c</a> ";
                    $resultsCounter++;
               }
          }
          
          $last = $page;
          print "$page ";
          
          for( $c = $page; $c <= 9; $c++ )
          {
               if ( $c >= 1 && $page != $c  )
               {
                    if ( ( ( $c - 1 ) * $limit ) <= $total ) {
                         $last = $c;
                         print "<a href=\"?".BFCMS_Helper::cleanUriGet()."&page$c\" title=\"Page $c\">$c</a> ";
                    }
               }
          }
     }
     
     if ( $page != $last ) print "| <a href=\"?".BFCMS_Helper::cleanUriGet()."&page$last\" title=\"Last results\">Last</a>";
     else print "| Last";
}
print '</p></div><h1 style="margin: 0 auto;width:200px;text-align: center;">'.strtoupper( $category ).'</h1>';
// SE SONO DIECI RISULTATI NON VIENE FUORI IL LAST
//else print "| Last";
?>
</div>