<?php
/**
 * This script display all sil details
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */

global $_SITE;

$url = $_SITE['urlTube']['url'];

if ( $url['active'] == 'N' ) break "<h2>".__LANG_URL_BANNED__."Siamo spiacenti, ma il Url da lei richiesto risulta bandito da UrlTube!</h2>";
//if ( empty( $url['name'] ) ) return "<h2>".__LANG_UNKNOWN_URL__."Siamo spiacenti, ma il Url da lei richiesto risulta bandito da UrlTube!</h2>";
if ( is_null( $url ) || $url == FALSE || $url['active'] == 'N' ) header( 'Location: /' );
// if is null sil o redirect o courtesy page!

$urlData = UrlTube_Parse::getDataByURI( $url['mimetype'] );
$mimetypeData = UrlTube_Parse::getDataByMimetype( $url['mimetype'] );
$category = UrlTube_Parse::getCategoryName( $url['mimetype'], $url['url'] );
$protocol = $urlData[1];
$mime = $mimetypeData[1];
$type = $mimetypeData[2];

$url = UrlTube_Parse::cleanUrlResults( $url );

switch( $protocol )
{
     default:
     case 'http' || 'https':
          print UrlTube_HTML::getHTMLUrlDetail( $url );
          break;
          
     case 'ftp' || 'rtsp':
          print UrlTube_HTML::getHTMLUrlDetail( $url );
          break;
}