<?php
/**
 * This script prints all banned and inactive UrlTubes
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */

global $_SITE;

$category = 'blacklist';
?>
<div id="UrlTubes_listing" style="text-align: left;">
     <h2 style="text-align: center;"><?=strtoupper( $category )?></h2>
     <dl style="width: 750px;margin: 0 auto;" class="listing">
     <dd style="text-align: left;border-bottom: 2px dotted #CCCCCC;margin-bottom: 10px;"><h2 style="display:inline;"><?=__LANG_PROTOCOL__?></h2>&nbsp;::&nbsp;<h2 style="display:inline;"><?=__LANG_DATE__?></h2>&nbsp;::&nbsp;<h2 style="display:inline;">URL</h2>&nbsp;</dd>
<?

$UrlTubes = UrlTube::getUrls( array( 'ban', 'name' ), array( 'url', 'mimetype', 'status_update' ), NULL, array( 'visits_counter DESC' ), 'N', NULL, $category, NULL, array( 'limit' => 10 ) );
for ( $c = 0; $c <= 9; $c++ )
{
     if ( !empty( $UrlTubes[$c] ) )
     {
        $mime  = $_SITE['UrlTube']['Parser']->getDataByMimetype( $UrlTubes[$c]['mimetype'] );
          $url   = ( $mime[1] == 'text' ) ? $UrlTubes[$c]['url'] : NULL;
          $image = UrlTube_Parse::getImageByMimetype( $UrlTubes[$c]['mimetype'], $url );
          $proto = $_SITE['UrlTube']['Parser']->getDataByURI( $UrlTubes[$c]['url'] );
          $proto = $proto[1];
          $date = date( 'Y.m.d', $UrlTubes[$c]['status_update'] );
          
          switch( $proto )
          {
               default:
                    break;
                    
               case 'ftp':
                    $proto = "<img style=\"width: 27px;vertical-align: middle;\" src=\"/public/images/categories/small.ftp.png\" alt=\"-$proto-\" />";
                    break;
          }

          switch( $UrlTubes[$c]['ban'] )
          {
               default:
               case '0':
                    $UrlTubes[$c]['ban_reason'] = __LANG_BLACKLIST_BAN_0__;
                    break;
                    
               case '1':
                    $UrlTubes[$c]['ban_reason'] = __LANG_BLACKLIST_BAN_1__;
                    break;
                    
               case '2':
                    $UrlTubes[$c]['ban_reason'] = __LANG_BLACKLIST_BAN_2__;
                    break;
          }
          
          $UrlTubes[$c]['title'] = ( empty( $UrlTubes[$c]['title'] ) ) ? __LANG_NO_TITLE__ : str_replace( "\n", '<br />', wordwrap( $UrlTubes[$c]['title'], 25 ) );
          $UrlTubes[$c]['description'] = ( empty( $UrlTubes[$c]['description'] ) ) ? __LANG_NO_DESCRIPTION__ : str_replace( "\n", '<br />', wordwrap( $UrlTubes[$c]['description'], 35 ) );
          if ( $c == ( count( $UrlTubes ) -1 ) ) $style = ' border: none;';
          print "<dt style=\"$style\"><img style=\"vertical-align: middle;border: 1px solid transparent;\" class=\"smalllink\" src=\"/public/images/categories/web_off.png\" alt=\"Off [Icon]\" /> <i>$proto</i> :: $date :: <b>{$UrlTubes[$c]['name']}</b> . ".str_replace( '.', ' . ', $_SITE['config']['handler']->redirect->domain )."</dt><dd><b>[</b>".__LANG_REASON__.": <i>{$UrlTubes[$c]['ban_reason']}</i><b>]</b></dd>";     
     }
}

?></dl>
</div>