<?php
/**
 * This script display the available feeds
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */

global $_SITE; ?>
                         <div style="border: none; margin: 10px 10px 10px 10px; padding: 30px 30px 30px 30px;">
                         <!--<h1>Feeds</h1>-->
<div style="text-align: center;float:left;width: 400px;">
<img style="border: 0px solid transparent;width: 270px;" src="/public/images/feeds.png" alt="<?=$_SITE['config']['handler']->site->name?> Feeds" /><br /><br />
<?=__LANG_FEEDS_CONTENT__?>
<ul style="text-align: left;">
<li><a href="http://it.wikipedia.org/wiki/wiki/Atom" title="Atom">Atom</a></li>
<li><a href="http://it.wikipedia.org/wiki/Really_simple_syndication" title="Really simple syndication">Really simple syndication</a></li>
<li><a href="http://it.wikipedia.org/wiki/XML" title="XML">XML</a></li>

</ul>
</div>
                         <div style="text-align: center;">
                              <h2><strong style="border-bottom: 2px dotted #A0A0E0;"><?=__LANG_HOME_FEEDS_TITLE__?></strong></h2>
                              <table style="margin: 0 auto;width: 300px;">
                              <tr><th style="background-color: #FFFFFF; border: 0px solid #FFFFFF;"></th><th style="border: 0px solid #FFFFFF;background-color: #FFFFFF;"><h2>RSS</h2></th><th style="border: 0px solid #FFFFFF;background-color: #FFFFFF;"><h2>Atom</h2></th></tr>
                              <tr><td><!--<img style="vertical-align: middle; width: 48px;" src="/public/images/favicon.ico" alt="[<?=constant( "__LANG_ALL__" )?>]" />--> <strong><?=constant( "__LANG_ALL__" )?></strong></td><td style=""><a href="/feeds/all.xml" title="<?=str_replace( '###SECTION###', constant( "__LANG_ALL__" ), constant( "__LANG_FEEDS_RSS__" ) )?>"><img src="/public/images/rss.add.png" alt="<?=constant( "__LANG_ALL__" )?>" /></a></td><td><a href="/feeds/all.xml?type=atom" title="<?=str_replace( '###SECTION###', constant( "__LANG_ALL__" ), constant( "__LANG_FEEDS_ATOM__" ) )?>"><img src="/public/images/atom.add.png" alt="<?=constant( "__LANG_ALL__" )?>" /></a></td></tr>
<?
foreach( explode( ',', $_SITE['config']['handler']->categories ) as $category )
{
     $category = trim( $category );
     $cat = strtoupper( $category );
     print '<tr><th style="border-bottom: 1px solid #A0A0E0;" colspan="3"></th></tr>
     <tr><td><!--<img style="vertical-align: middle; width: 48px;" src="/public/themes/default/images/categories/'.$category.'.png" alt="['.constant( "__LANG_$cat".'__' ).']" />--> <strong>'.constant( "__LANG_$cat".'__' ).'</strong></td>
     <td><a href="/feeds/'.$category.'.xml" title="'.str_replace( '###SECTION###', constant( "__LANG_$cat".'__' ), constant( "__LANG_FEEDS_RSS__" ) ).'"><img src="/public/images/rss.add.png" alt="'.constant( "__LANG_$cat".'__' ).'" /></a></td>
     <td><a href="/feeds/all.xml?type=atom" title="'.str_replace( '###SECTION###', constant( "__LANG_$cat".'__' ), constant( "__LANG_FEEDS_ATOM__" ) ).'"><img src="/public/images/atom.add.png" alt="'.constant( "__LANG_$cat".'__' ).'" /></a></td></tr>';
}
?>
                              </table>
                         </div>
                         </div>