<?php
/**
 * This script is the site index
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */
global $_SITE;
$redirectHostname = $_SITE['config']['handler']->redirect->domain;
// Try: http://www.mapquest.com/maps/map.adpovi=1&mqmap.x=300&mqmap.y=75&mapdata=%252bKZmeiIh6N%252bIgpXRP3bylMaN0O4z8OOUkZWYe7NRH6ldDN96YFTIUmSH3Q6OzE5XVqcuc5zb%252fY5wy1MZwTnT2pu%252bNMjOjsHjvNlygTRMzqazPStrN%252f1YzA0oWEWLwkHdhVHeG9sG6cMrfXNJKHY6fML4o6Nb0SeQm75ET9jAjKelrmqBCNta%252bsKC9n8jslz%252fo188N4g3BvAJYuzx8J8r%252f1fPFWkPYg%252bT9Su5KoQ9YpNSj%252bmo0h0aEK%252bofj3f6vCP

UrlTube_HTML::getHTMLshareUrlForm( 'quick' );
?>
<script type="text/javascript" src="/public/js/carousel.js"></script>
<!-- Carousel Structure -->
<h1 style="text-align:center;margin: 20px 0px -10px 0px;"><?=__LANG_MOST_VISITED__?></h1>
<div id="dhtml-carousel" class="carousel-component">
    <div class="carousel-prev">
    </div>
    <div class="carousel-next">
    </div>
    <div class="carousel-clip-region">
        <ul class="carousel-list">
        </ul>
    </div>
</div>

<h1 style="text-align:center;margin: 20px 0px -10px 0px;"><?=__LANG_RECENTS_URL__?></h1>
<div id="dhtml-carousel2" class="carousel-component">
    <div class="carousel-prev">
        <img id="left-arrow" class="left-button-image" 
            src="http://us.i1.yimg.com/us.yimg.com/i/us/nws/bn/leftarrow.png" alt="Previous Button"/>
    </div>
    <div class="carousel-next">
        <img id="right-arrow" class="right-button-image" 
            src="http://us.i1.yimg.com/us.yimg.com/i/us/nws/bn/rightarrow.png" alt="Next Button"/>
    </div>
    <div class="carousel-clip-region">
        <ul class="carousel-list">
        </ul>
    </div>
</div>