<?php
/**
 * This script display the site map
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */

?>     <div id="addSil" style="margin: 10px 10px 10px 10px; text-align: center;">
          <h1><?=__LANG_HOME_SITEMAP__?></h1>
          <table style="margin: 0 auto;width: 700px;">
               <tr style="border-bottom:1px black solid;">
                    <th>URL</th>
                    <th><?=__LANG_PRIORITY__?></th>
                    <th><?=__LANG_CHANGE_FREQ__?></th>
                    <th><?=__LANG_LAST_CHANGE__?></th>
               </tr>
               <?
               $sitemap = UrlTube_Feeds::getSitemap();
               foreach( $sitemap as $controller => $urls )
               {
                    foreach( $urls as $id => $url )
                    {
                         if ( $id == 0 ) print "<tr style=\"margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;\"><th style=\"margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;\" colspan=\"4\"><h2 style=\"margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;color: #303030;\">$controller</h2></th></tr>";
                         if ( is_float( ( $id / 2 ) ) ) $style = " style=\"background-color: #F0F0F0;\"";
                         else $style = "";
                         $location = array_pop( explode( '/', $url['loc'] ) );
                         if ( empty( $location ) ) $location = 'index';
                         print "<tr$style><td><a href=\"{$url['loc']}\">$location</a></td><td>" . substr( ( int ) ( 100 * ( 10 / $url['priority'] ) ), 0, -2 ). "%</td><td>{$url['changefreq']}</td><td>{$url['lastmod']}</td></tr>";
                    }
               }
               ?>
               <tr>
               <th colspan="4"><h2><a href="/feeds/sitemap.xml" title="XML Sitemap"><?=__LANG_GOOGLE_XML_SITEMAP__?></a></h2></th>
               </tr>
          </table>
     </div>
