<?php
/**
 * This script simply display an "under construction" courtesy page
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */

?>
<div style="text-align: center;">
<img style="padding-top: 70px;width: 230px;vertical-align: middle;" src="/public/images/under-construction.gif" alt="<?=__LANG_UNDER_CONSTRUCTION__?>" />
               <h1 style="padding-left: 20px 50px 0px 0px;text-align: right;display: inline;font-size:24px;font-weight: bold;"><?=__LANG_UNDER_CONSTRUCTION__?></h1>
     <!-- UnderConstruction -->
<!--<?=__LANG_UNDER_CONSTRUCTION__?>-->
</div>