<?php
global $_SITE;
?>
	<div id="container_box" class="Url">
          <div id="header" class="Url">
               <div id="logo" class="Url">
                    <a href="/" title="<?=__LANG_HOME_TITLE__?> :: Home" class="Url">
                    <img style="width: 230px; height: 90px;" src="/public/themes/<?=$_SITE['config']['env']['theme']?>/images/logo.png" alt="<?=__LANG_HOME_TITLE__?>" class="Url" />
                    </a><br />
                    <?if ( $_SITE['config']['env']['type'] != 'production' ):?><h2><?=__LANG_SUBTITLE__?></h2><?else:?><img style="margin-top: -10px;" src="/public/themes/default/images/sub-title.png" alt="Your new cool contents directory ;)" /><?endif?>
               </div>
               <div id="menu" class="Url">
                    <ul class="Url">
                         <li><a href="/index/share-your-url" class="Url" 
                                 title="<?=__LANG_SHARE__?>"
                                 onmouseover="javascript:BFCMS.switchBgImage(this,'/themes/<?=$_SITE['config']['env']['theme']?>/images/header-button-hover.jpg');"
                                 onmouseout="javascript:BFCMS.switchBgImage(this,'/themes/<?=$_SITE['config']['env']['theme']?>/images/header-button.jpg');"><?=__LANG_SHARE__?></a></li>
                         <li><a href="/about/the-toolbar" class="Url" 
                                 title="UrlTube Toolbar"
                                 onmouseover="javascript:BFCMS.switchBgImage(this,'/themes/<?=$_SITE['config']['env']['theme']?>/images/header-button-hover.jpg');"
                                 onmouseout="javascript:BFCMS.switchBgImage(this,'/themes/<?=$_SITE['config']['env']['theme']?>/images/header-button.jpg');">Toolbar</a></li>
                         <!--<li><a href="/index/feeds" class="Url"
                                      title="<?=__LANG_HOME_FEEDS_TITLE__?>">Feeds</a></li>-->
                         <li><a href="/about/us" class="Url" 
                                 title="<?=__LANG_HOME_ABOUT_TITLE__?>"
                                 onmouseover="javascript:BFCMS.switchBgImage(this,'/themes/<?=$_SITE['config']['env']['theme']?>/images/header-button-hover.jpg');"
                                 onmouseout="javascript:BFCMS.switchBgImage(this,'/themes/<?=$_SITE['config']['env']['theme']?>/images/header-button.jpg');"><?=__LANG_HOME_ABOUT__?></a></li>
                         <li><a href="/about/contact-us" class="Url" 
                                 title="<?=__LANG_HOME_CONTACT_TITLE__?>"
                                 onmouseover="javascript:BFCMS.switchBgImage(this,'/themes/<?=$_SITE['config']['env']['theme']?>/images/header-button-hover.jpg');"
                                 onmouseout="javascript:BFCMS.switchBgImage(this,'/themes/<?=$_SITE['config']['env']['theme']?>/images/header-button.jpg');"><?=__LANG_HOME_CONTACT__?></a></li>
                    </ul>
               </div>
      </div>
      <div id="categories_navigation">
			<ul id="categories">
			     <li>
			          <h2><?=__LANG_CATEGORIES__?></h2>
			          <ul><?/*<!--
			               <li>
			               <a href="/browse/categories?http" title="[<?=__LANG_WEB__?>]"><img src="/public/themes/default/images/categories/small.web.png" alt="[<?=__LANG_WEB__?>]" /><br /><?=__LANG_WEB__?></a><br style="margin-bottom: 30px;" />
			               <a href="/browse/categories?ftp" title="[<?=__LANG_FTP__?>]"><img src="/public/themes/default/images/categories/small.ftp.png" alt="[<?=__LANG_FTP__?>]" /><br /><?=__LANG_FTP__?></a>
			               </li>
			               <li>
			               <a href="/browse/categories?rtsp" title="[<?=__LANG_RTSP__?>]"><img src="/public/themes/default/images/categories/small.rtsp.png" alt="[<?=__LANG_RTSP__?>]" /><br /><?=__LANG_RTSP__?></a><br style="margin-bottom: 30px;" />
			               <a href="/browse/categories?image" title="[<?=__LANG_IMAGE__?>]"><img src="/public/themes/default/images/categories/small.image.png" alt="[<?=__LANG_IMAGE__?>]" /><br /><?=__LANG_IMAGE__?></a>
			               </li>
			               <li>
			               <a href="/browse/categories?video" title="[<?=__LANG_VIDEO__?>]"><img src="/public/themes/default/images/categories/small.video.png" alt="[<?=__LANG_VIDEO__?>]" /><br /><?=__LANG_VIDEO__?></a><br style="margin-bottom: 30px;" />
			               <a href="/browse/categories?audio" title="[<?=__LANG_AUDIO__?>]"><img src="/public/themes/default/images/categories/small.audio.png" alt="[<?=__LANG_AUDIO__?>]" /><br /><?=__LANG_AUDIO__?></a>
			               </li>
			               <li>
			               <a href="/browse/categories?text" title="[<?=__LANG_TEXT__?>]"><img src="/public/themes/default/images/categories/small.text.png" alt="[<?=__LANG_TEXT__?>]" /><br /><?=__LANG_TEXT__?></a><br style="margin-bottom: 30px;" />
			               <a href="/browse/categories?flash" title="[<?=__LANG_FLASH__?>]"><img src="/public/themes/default/images/categories/small.flash.png" alt="[<?=__LANG_FLASH__?>]" /><br /><?=__LANG_FLASH__?></a>
			               </li>
			               <li>
			               <a href="/browse/categories?quicktime" title="[<?=__LANG_QUICKTIME__?>]"><img src="/public/themes/default/images/categories/small.quicktime.png" alt="[<?=__LANG_QUICKTIME__?>]" /><br /><?=__LANG_QUICKTIME__?></a><br style="margin-bottom: 30px;" />
			               <a href="/browse/categories?youtube" title="[<?=__LANG_YOUTUBE__?>]"><img src="/public/themes/default/images/categories/small.youtube.png" alt="[<?=__LANG_YOUTUBE__?>]" /><br /><?=__LANG_YOUTUBE__?></a>
			               </li>
			               <li>
			               <a href="/browse/categories?maps" title="[<?=__LANG_MAPS__?>]"><img src="/public/themes/default/images/categories/small.maps.png" alt="[<?=__LANG_MAPS__?>]" /><br /><?=__LANG_MAPS__?></a><br style="margin-bottom: 30px;" />
			               <a href="/browse/categories?flickr" title="[<?=__LANG_FLICKR__?>]"><img src="/public/themes/default/images/categories/small.flickr.png" alt="[<?=__LANG_FLICKR__?>]" /><br /><?=__LANG_FLICKR__?></a>
			               </li>
			               <li>
			               <a href="/browse/categories?pdf" title="[<?=__LANG_PDF__?>]"><img src="/public/themes/default/images/categories/small.pdf.png" alt="[<?=__LANG_PDF__?>]" /><br /><?=__LANG_PDF__?></a><br style="margin-bottom: 30px;" />
			               <a href="/browse/categories?google" title="[<?=__LANG_GOOGLE__?>]"><img src="/public/themes/default/images/categories/small.google.png" alt="[<?=__LANG_GOOGLE__?>]" /><br /><?=__LANG_GOOGLE__?></a>
			               </li>-->*/?>
			               <li>
			               <a href="/browse/category?web" title="[<?=__LANG_WEB__?>]"><img src="/public/themes/default/images/categories/small.web.png" alt="[<?=__LANG_WEB__?>]" /><br /><?=__LANG_WEB__?></a>
			               </li>
			               <li>
			               <a href="/browse/category?images" title="[<?=__LANG_IMAGE__?>]"><img src="/public/themes/default/images/categories/small.image.png" alt="[<?=__LANG_IMAGE__?>]" /><br /><?=__LANG_IMAGE__?></a>
			               </li>
			               <li style="clear:both;"></li>
			          </ul>
			     </li>
			</ul>
      </div>