<?php
/**
 * Layout: Scripts-Index
 * 
 * With header, sidebar and footer if no other specifications
 * by the _GET variable: noTemplate
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */

global $_SITE;
?>
               <div id="sidebar">
                    <ul>
                         <li>
                              <h2><?=__LANG_SEARCH__?></h2>
                              <div id="search_control"><?=__LANG_LOADING__?></div>
                              <h2>&nbsp;</h2>
                              <div style="margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;">
                              <a href="/feeds" title="<?=__LANG_HOME_FEEDS_TITLE__?>"> <img style="vertical-align: middle;" src="/public/themes/default/images/categories/feeds.png" alt="<?=__LANG_HOME_FEEDS__?>" /><?=__LANG_HOME_FEEDS_TITLE__?></a>
                              </div>
                         </li>
                    </ul>

<!--	               <dl>
	               <dt><h2><?=__LANG_HOME_SITEMAP__?></h2></dt>
	               <?
	               $sitemap = UrlTube_Feeds::getSitemap( FALSE );
	               foreach( $sitemap as $controller => $urls )
	               {
	                    foreach( $urls as $id => $url )
	                    {
	                         if ( $id == 0 ) print "<dt><b>$controller</b></dt>";
	                         $location = array_pop( explode( '/', $url['loc'] ) );
	                         if ( empty( $location ) ) $location = 'index';
	                         print "<dd><a href=\"{$url['loc']}\" title=\"{$url['loc']}\">$location</a></dd>";
	                    }
	               }
	               ?>
	               <dd>&nbsp;</dd>
	               <dt><a href="/feeds/sitemap.xml" title="XML Sitemap"><?=__LANG_GOOGLE_XML_SITEMAP_C__?></a></dt>
	               <dt><a href="/feeds/sitemap.xml" title="XML Sitemap"><?=__LANG_GOOGLE_XML_SITEMAP__?></a></dt>
	               </dl>-->
                    <ul id="sitemap">
                         <li>
                              <ul>
                                   <li><h2><?=__LANG_LANGUAGES__?></h2></li>
                                   <li id="languages">
                                   <?
                                        foreach ( explode( ',', $_SITE['config']['handler']->languages->active ) as $lang )
                                            print "<a style=\"height: 10px; width: 20px;\" href=\"/settings/set/language/".trim( $lang )."\" title=\"".constant( '__LANG_' . strtoupper( trim( $lang ) ) . '_LANG__' )."\" id=\"lang_".trim( $lang )."\" class=\"lang\"><img style=\"width: 20px;\" src=\"/public/images/languages/".trim( $lang ).".png\" alt=\"".constant( '__LANG_' . strtoupper( trim( $lang ) ) . '_LANG__' )."\" /></a>&nbsp;";
                                   ?></li>
                                   <li><h2><?=__LANG_THEMES__?></h2></li>
                                   
                                   <?
                                        foreach ( explode( ',', $_SITE['config']['handler']->themes->active ) as $theme )
                                            print "<li><a style=\"height: 10px; width: 20px;\" href=\"/settings/set/theme/".trim( $theme )."\" title=\"".trim( $theme )."\" id=\"lang_".trim( $theme )."\" class=\"lang\">".trim( $theme )."</a></li>";
                                   ?>
                                   <li><h2><?=$_SITE['config']['handler']->site->name?></h2></li>
                                   <li><a href="/about/url-definition" title="Help: Uniform Resource Location"><?=__LANG_URL_DEFINITION__?></a></li>
                                   <li><a href="/about/urltube" title="<?=__LANG_HOME_ABOUT_URL_TITLE__?>"><?=__LANG_HOME_ABOUT_URL_TITLE__?></a></li>
                                   <!--<li><a href="/ajax/under-construction?KeepThis=true&amp;TB_iframe=true&amp;height=400&amp;width=750" class="thickbox" title="<?=__LANG_HOME_SPECIFICATIONS_T__?>"><?=__LANG_HOME_SPECIFICATIONS__?></a></li>-->
                                   <li><a href="/about/the-toolbar" title="UrlTube Toolbar">Toolbar</a></li>
                                   <li><a href="/index/blacklist" title="<?=__LANG_HOME_OFFLINE_URLTUBES_TITLE__?>"><?=__LANG_HOME_OFFLINE_URLTUBES__?></a></li>
                                   <li><a href="/feeds" title="<?=__LANG_HOME_FEEDS_TITLE__?>"><?=__LANG_HOME_FEEDS__?></a></li>
                              </ul>
                         </li>
                    </ul>
                    <div style="clear: both;">&nbsp;</div>
               </div>
     
               <!-- Search Content -->
               <div id="search_content" class="search_content_bg"></div>
               
               <!-- Footer -->
               <div id="footer">
                    <p id="legal">
                         &copy;<?=date( 'Y' )?> <a href="http://www.baruffaldi.info" title="copyright &copy; 2008-<?=date( 'y' )?> <?=__LANG_HOME_ADMIN__?>"><img onmouseover="javascript:BFCMS.switchImage(this,'filippo-baruffaldi-hover.png');"
                               onmouseout="javascript:BFCMS.switchImage(this,'filippo-baruffaldi.png');"
                               src="/public/images/filippo-baruffaldi.png" 
                               alt="copyright &copy; 2008-<?=date( 'y' )?> <?=__LANG_HOME_ADMIN__?>" />
                         </a>
                    </p>
                    <p id="links">
                         <a href="/about/contact-us" title="<?=__LANG_HOME_CONTACT_TITLE__?>"><?=__LANG_HOME_CONTACT__?></a>&nbsp;|&nbsp;
                         <a href="/about/privacy-policies" title="<?=__LANG_HOME_PRIVACY__?>"><?=__LANG_HOME_PRIVACY__?></a>&nbsp;|&nbsp;
                         <a href="/about/legal-notices" title="<?=__LANG_HOME_LEGAL_TITLE__?>"><?=__LANG_HOME_LEGAL__?></a>&nbsp;|&nbsp;
                         <a href="/index/blacklist" title="<?=__LANG_HOME_OFFLINE_URLTUBES_TITLE__?>"><?=__LANG_HOME_OFFLINE_URLTUBES__?></a>&nbsp;|&nbsp;
                         <a href="/index/sitemap" title="<?=__LANG_HOME_SITEMAP_TITLE__?>"><?=__LANG_HOME_SITEMAP__?></a>
                    </p>
               </div>
          </div>
     </body>
</html>