<?php
/**
 * This script display the error handler output
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */

global $_SITE;

$req = $this->request->getParams();
header( 'Content-Type: text/html; charset=' . $_SITE['config']['handler']->site->charset );

?>                         <div id="search_content"></div>
          <h2 class="title"><?= wordwrap( $this->message, 10 ) ?></h2>
          <div class="entry" style="height: 220px;">
                              
                              <? if ('development' == $this->env): ?> 
                                  <h3>Exception information:</h3> 
                                  <p> 
                                      <b>Message:</b> <?= _dump( wordwrap( $this->exception->getMessage( ), 10 ) ) ?> 
                                  </p> 
                              
                                  <h3>Stack trace:</h3> 
                                  <div style="border: 3px solid #A17461; margin: 5px 5px 5px 5px; padding: 5px 5px 5px 5px;">
                                       <?= wordwrap( $this->exception->getTraceAsString(), 30 )?>
                                  </div>                                  
                              
                                  <h3>Request Parameters:</h3> 
                                       <? _dump( $this->request->getParams( ) ) ?>
                              <? endif ?>
                              </div>
                         </div>