<?php
/**
 * This script display the contact us form
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */
global $_SITE;

require_once 'Zend' . DIRECTORY_SEPARATOR . 'Service' . DIRECTORY_SEPARATOR . 'ReCaptcha' . DIRECTORY_SEPARATOR . 'Response.php';
require_once 'Zend' . DIRECTORY_SEPARATOR . 'Service' . DIRECTORY_SEPARATOR . 'ReCaptcha' . DIRECTORY_SEPARATOR . 'MailHide.php';

$recaptcha = new Zend_Service_ReCaptcha( $_SITE['config']['handler']->site->pubKey, $_SITE['config']['handler']->site->privKey, array( 'xhtml' => TRUE ), array( 'theme' => 'white', 'lang' => $_SITE['config']['env']['language']['short'] ) );
?>
<div id="addUrl">
                    <div id="page">
                         <div id="content">
                              <div class="post">
                                   <h2 class="title"><?=__LANG_CONTACT_US_TITLE__?></h2>
                                   <p class="meta"><small><?=__LANG_CONTACT_US_SUBTITLE__?></small></p>
                                   <div class="entry">
                                        <div style="width: 400px;" class="left_column"><?=__LANG_CONTACT_US__?></div>
<?
if ( ! empty( $_POST['email'] ) && ! empty( $_POST['message'] ) )
{
	$result = $recaptcha->verify( $_POST['recaptcha_challenge_field'], $_POST['recaptcha_response_field'] );

	if ( $result->isValid( ) )
	{
     mail( 'info@urltube.net', "Messaggio dal sito: {$_POST['surname']} {$_POST['name']}", $_POST['message'], 'From: UrlTube Helper <helper@urltube.net>' );
     print __LANG_CONTACT_US_MAIL_SENT__;
     
	} else print UrlTube_HTML::getHTMLContactUsForm( $recaptcha, $result );
} else print UrlTube_HTML::getHTMLContactUsForm( $recaptcha );
?>
                                    </div>
                               </div>
                          </div>
                     </div>
                </div>