<?php
/**
 * This script prints the legal notices
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */
global $_SITE;?>
                              <!-- Legal Notices Popup Content -->
                              <div style="border: none; margin: 10px 10px 10px 10px; padding: 30px 30px 30px 30px;">
<?
print str_replace( "\n", '<br />', $_SITE['language']['legal.notices'] );
?>
                              </div>