<?php
/**
 * This script prints the privacy policies
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */
global $_SITE;
?>
                              <!-- Privacy Policies Popup Content -->
                              <div style="border: none; margin: 10px 10px 10px 10px; padding: 30px 30px 30px 30px;">
<?
print str_replace( "\n", '<br />', $_SITE['language']['legal.privacy'] );
?>
                              </div>