<?php
/**
 * This script is the site index
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */
global $_SITE;

$redirectHostname = $_SITE['config']['handler']->redirect->domain;

// Try: http://www.mapquest.com/maps/map.adpovi=1&mqmap.x=300&mqmap.y=75&mapdata=%252bKZmeiIh6N%252bIgpXRP3bylMaN0O4z8OOUkZWYe7NRH6ldDN96YFTIUmSH3Q6OzE5XVqcuc5zb%252fY5wy1MZwTnT2pu%252bNMjOjsHjvNlygTRMzqazPStrN%252f1YzA0oWEWLwkHdhVHeG9sG6cMrfXNJKHY6fML4o6Nb0SeQm75ET9jAjKelrmqBCNta%252bsKC9n8jslz%252fo188N4g3BvAJYuzx8J8r%252f1fPFWkPYg%252bT9Su5KoQ9YpNSj%252bmo0h0aEK%252bofj3f6vCP
?>                         <div style="border: none; margin: 10px 10px 10px 10px; padding: 30px 30px 30px 30px;">
                              
                              <h2><?=__LANG_WTF_URLTUBE__?></h2>
                              <p class="entry_content">
                                   <?=__LANG_WTF_URLTUBE_TEXT__?><br />
                              </p>
                              
                              <h2><?=__LANG_WTF_2__?></h2>
                              <p class="entry_content">
                                   <?=__LANG_WTF_2_TEXT__?>
                              </p>
                                   
                              <h2><?=__LANG_WTF_EXAMPLE__?></h2>
                              <p class="entry_content">
                                   <?=str_replace( '###REDIRECTDOMAIN###', "http : // <a href=\"http://map.$redirectHostname\" title=\"Google Map\">map</a> . " . str_replace( '.', ' . ', $redirectHostname ), __LANG_WTF_EXAMPLE_TEXT__ )?>
                              </p>
                         </div>