
@import url("../dijit.css");
.nihilo .dijitSliderDisabled *,
.nihilo .dijitDisabledClickableRegion,	
.nihilo .dijitSpinnerDisabled *,
.nihilo .dijitButtonDisabled *,
.nihilo .dijitDropDownButtonDisabled *,
.nihilo .dijitComboButtonDisabled *,
.nihilo .dijitComboBoxDisabled *
{
	cursor: not-allowed !important;
}
.nihilo .dojoDndItemBefore {
	border-top: 2px solid #369;
}
.nihilo .dojoDndItemAfter {
	border-bottom: 2px solid #369;
}
.nihilo .dojoDndItemOver {
	cursor:pointer;
}
.nihilo table.dojoDndAvatar { -moz-border-radius: 0; border: 1px solid #ccc; border-collapse: collapse; background-color: #fff; font-size: 75%; color: black;}
.nihilo .dojoDndAvatar td	{ border: none; }
.nihilo .dojoDndAvatar tr	{ border: none; }
.nihilo .dojoDndAvatarHeader td	{ height: 20px; padding: 0 0 0 21px; }
.nihilo .dojoDndAvatarItem td { padding: 2px;}
.nihilo.dojoDndMove .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoMove.png); background-repeat: no-repeat; background-position: 2px center;}
.nihilo.dojoDndCopy .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.nihilo.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndMove.png); background-repeat: no-repeat; background-position: 2px center;}
.nihilo.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.nihilo .dijitContentPane {
    padding: 0px;
}
.nihilo .dijitTabContainerTop-dijitContentPane,
.nihilo .dijitTabContainerLeft-dijitContentPane,
.nihilo .dijitTabContainerRight-dijitContentPane,
.nihilo .dijitTabContainerBottom-dijitContentPane,
.nihilo .dijitAccordionContainer-dijitContentPane {
    border: none;
    background-color: #fff;
    padding: 5px;
}
.nihilo .dijitSplitContainer-dijitContentPane,
.nihilo .dijitBorderContainer-dijitContentPane {
    border: 1px #ccc solid;
    background-color: #fff;
    padding: 5px;
}
 
 
.nihilo .dijitTabPaneWrapper {
	background:#fff;
	border:1px solid #ccc;
	margin: 0;
	padding: 0;
}
.nihilo .dijitTabInnerDiv {
	padding:0px 3px 0px 0px;
	margin: 0 0 0 4px;
	background: url(images/tabContainerSprite.gif) no-repeat;
	background-position: right -400px;
}
.nihilo .dijitTab {
	line-height:normal;
	margin:0 2px 0 0;	
	padding:0px;
	background: url(images/tabContainerSprite.gif) no-repeat 0 -300px;
	color: #6d6d6d;
	border-bottom: 1px #ccc solid;
}
.nihilo .dijitTabInnerDiv .dijitTabContent {
	padding:5px 3px 4px 4px;
	background: url(images/tabContainerSprite.gif) repeat-x 0 -350px;
	position: relative;
}
.dijitTabSpacer {
	font-size: 1px;
}
.nihilo .dijitTabHover,
.nihilo .dijitTabCloseButtonHover {
	color: #243C5F;
	background: url(images/tabContainerSprite.gif) no-repeat 0px -150px;
}
.nihilo .dijitTabHover .dijitTabInnerDiv,
.nihilo .dijitTabCloseButtonHover .dijitTabInnerDiv {
	background: url(images/tabContainerSprite.gif) no-repeat right -250px;
}
.nihilo .dijitTabHover .dijitTabInnerDiv .dijitTabContent,
.nihilo .dijitTabCloseButtonHover .dijitTabInnerDiv .dijitTabContent {
	background: url(images/tabContainerSprite.gif) repeat-x 0 -200px;
}
.nihilo .dijitTabChecked,
.nihilo .dijitTabCloseButtonChecked
{
	
	background: url(images/tabContainerSprite.gif) no-repeat 0px -0px;
}
.nihilo .dijitTabChecked .dijitTabInnerDiv {
	background: url(images/tabContainerSprite.gif) no-repeat right -100px;
}
.nihilo .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
	background: url(images/tabContainerSprite.gif) repeat-x 0 -50px;
	color: #243C5F !important;
}
.nihilo .dijitTab .dijitClosable .closeNode {
	
	display:-moz-inline-box;		
	display:inline-block;			
	#zoom: 1; 
	#display:inline; 
	vertical-align:top;
	width: 1.25em;
	height: 1.25em;
	padding: 0;
	margin: 0;
}
.nihilo .dijitTab .dijitClosable .closeImage {
	background: url(images/spriteRoundedIconsSmall.png) no-repeat -60px top;
	width: 15px;
	height: 15px;
}
.dj_ie6 .dijitTab .dijitClosable .closeImage {
	background: url(images/spriteRoundedIconsSmall.gif) no-repeat -60px top;
}
.nihilo .dijitTabCloseButton .dijitClosable .closeImage {
	background: url(images/spriteRoundedIconsSmall.png) no-repeat -60px top;
}
.dj_ie6 .nihilo .dijitTabCloseButton .dijitClosable .closeImage {
	background: url(images/spriteRoundedIconsSmall.gif) no-repeat -60px top;
}
.nihilo .dijitTabCloseButtonHover .dijitClosable .closeImage {
	background: url(images/spriteRoundedIconsSmall.png) no-repeat -60px top;
}
.dj_ie6 .nihilo .dijitTabCloseButtonHover .dijitClosable .closeImage {
	background: url(images/spriteRoundedIconsSmall.gif) no-repeat -60px top;
}
.nihilo .dijitTab .dijitTabButtonSpacer {
	height: 15px;
	width: 1px;
}
.nihilo .dijitTabContainerTop-tabs {
	margin-bottom: -1px;
	border-color: #ccc;
	padding-left: 3px;
}
.nihilo .dijitTabContainerTop-container {
	border-top: none;
}
.nihilo .dijitTabContainerTop-tabs .dijitTabChecked {
	border-bottom-color: #f8f8f8;
}
.nihilo .dijitTabContainerTopStrip {
	border: 1px solid #ccc;
	padding-top: 2px;
	padding-left: 3px;
}
.nihilo .dijitTabContainerTopStrip {
	background: #f2f2f2;
}
.nihilo .dijitTabContainerBottom-tabs {
	margin-top: -1px;
	border-color: #ccc;
	padding-left: 3px;
}
.nihilo .dijitTabContainerBottom-container {
	border-bottom: none;
}
.nihilo .dijitTabContainerBottom-tabs .dijitTab {
	border-bottom: none;
	border-top: 1px solid #ccc;
	background: url(images/tabBottomEnabledSpriteLR.gif) no-repeat bottom left;
}
.nihilo .dijitTabContainerBottom-tabs .dijitTabChecked {
	border-top-color:#f8f8f8;
}
.nihilo .dijitTabContainerBottom-tabs .dijitTabInnerDiv .dijitTabContent {
	padding-top: 4px;
	padding-bottom: 5px;
	background: url(images/tabBottomEnabledC.gif) repeat-x bottom left;
}
.nihilo .dijitTabContainerBottom-tabs .dijitTabInnerDiv {
	background: url(images/tabBottomEnabledSpriteLR.gif) no-repeat bottom right;
}
.nihilo .dijitTabContainerBottom-tabs .dijitTabHover,
.nihilo .dijitTabContainerBottom-tabs .dijitTabCloseButtonHover {
	color: #243C5F;
	background: url(images/tabBottomHoverSpriteLR.gif) no-repeat bottom left;
}
.nihilo .dijitTabContainerBottom-tabs .dijitTabHover .dijitTabInnerDiv,
.nihilo .dijitTabContainerBottom-tabs .dijitTabCloseButtonHover .dijitTabInnerDiv {
	background: url(images/tabBottomHoverSpriteLR.gif) no-repeat bottom right;
}
.nihilo .dijitTabContainerBottom-tabs .dijitTabHover .dijitTabInnerDiv .dijitTabContent,
.nihilo .dijitTabContainerBottom-tabs .dijitTabCloseButtonHover .dijitTabInnerDiv .dijitTabContent {
	background: url(images/tabBottomHoverC.gif) repeat-x bottom left;
}
.nihilo .dijitTabContainerBottom-tabs .dijitTabChecked,
.nihilo .dijitTabContainerBottom-tabs .dijitTabCloseButtonChecked
{
	
	background: url(images/tabBottomActiveSpriteLR.gif) no-repeat bottom left;
}
.nihilo .dijitTabContainerBottom-tabs .dijitTabChecked .dijitTabInnerDiv {
	background: url(images/tabBottomActiveSpriteLR.gif) no-repeat bottom right;
}
.nihilo .dijitTabContainerBottom-tabs .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
	background: url(images/tabBottomActiveC.gif) repeat-x bottom left;
}
.nihilo .dijitTabContainerBottomStrip {
	padding-bottom: 2px;
	padding-left: 3px;	
	border: 1px solid #ccc;
}
.nihilo .dijitTabContainerBottomStrip {
	background: #f2f2f2;
}
.nihilo .dijitTabContainerBottom-spacer,
.nihilo .dijitTabContainerTop-spacer {
	height: 2px;
	border: 1px solid #ccc;
	background: #f8f8f8;
}
.nihilo .dijitTabContainerRight-tabs {
	margin-left: -1px;
	border-color: #ccc;
	padding-top: 3px;
}
.nihilo .dijitTabContainerRight-container {
	border-right: none;
}
.nihilo .dijitTabContainerRight-tabs .dijitTab {
	border-bottom: none;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #dedede !important;
}
.dj_ie .nihilo .dijitTabContainerRight-tabs .dijitTabInnerDiv {
	border-bottom: solid #fff 1px;
}
.nihilo .dijitTabContainerRight-tabs .dijitTabChecked {
	border-left-color: #f8f8f8;
}
.nihilo .dijitTabContainerRight-tabs .dijitTabChecked {
	background: url(images/tabRightChecked.gif) no-repeat left top !important;
}
.dj_ie .nihilo .dijitTabContainerRight-tabs .dijitTabChecked .dijitTabInnerDiv,
.dj_ie .nihilo .dijitTabContainerRight-tabs .dijitTabCheckedHover .dijitTabInnerDiv {
	border-bottom: solid #efefef 1px;
}
.nihilo .dijitTabContainerRight-tabs .dijitTab {
	background: url(images/tabContainerSprite.gif) no-repeat left -350px;
}
.nihilo .dijitTabContainerRight-tabs .dijitTabHover .dijitTab {
	background: url(images/tabContainerSprite.gif) no-repeat left -200px;
}
.nihilo .dijitTabContainerRightStrip {
	padding-right: 2px;
	padding-top: 3px;	
	border: 1px solid #ccc;
}
.nihilo .dijitTabContainerRightStrip {
	background: #f2f2f2;
}
.nihilo .dijitTabContainerLeft-tabs {
	margin-right: -1px;
	border-color: #ccc;
	padding-top: 3px;
}
.nihilo .dijitTabContainerLeft-container {
	border-left: none;
}
.nihilo .dijitTabContainerLeft-tabs .dijitTab {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #dedede;
}
.nihilo .dijitTabContainerLeft-tabs .dijitTabChecked {
	border-right: 1px solid #f8f8f8;
}
.nihilo .dijitTabContainerLeft-tabs .dijitTabInnerDiv {
	background: url(images/tabContainerSprite.gif) no-repeat right -350px;
}
.nihilo .dijitTabContainerLeft-tabs .dijitTabHover .dijitTabInnerDiv {
	background: url(images/tabContainerSprite.gif) no-repeat right -200px;
}
.nihilo .dijitTabContainerLeft-tabs .dijitTabChecked .dijitTabInnerDiv,
.nihilo .dijitTabContainerLeft-tabs .dijitTabCheckedHover .dijitTabInnerDiv {
	background: url(images/tabLeftChecked.gif) no-repeat right top;
}
.dj_ie .nihilo .dijitTabContainerLeft-tabs .dijitTabChecked .dijitTabInnerDiv,
.dj_ie .nihilo .dijitTabContainerLeft-tabs .dijitTabCheckedHover .dijitTabInnerDiv {
	border-bottom: solid #efefef 1px;
}
.dj_ie .nihilo .dijitTabContainerLeft-tabs .dijitTabInnerDiv {
border-bottom: solid #fff 1px;
}
.nihilo .dijitTabContainerLeftStrip {
	padding-left: 2px;
	padding-top: 3px;	
	border: 1px solid #ccc;
}
.nihilo .dijitTabContainerLeftStrip {
	background: #f2f2f2;
}
.nihilo .dijitTabContainerLeft-tabs .dijitTab,
.nihilo .dijitTabContainerRight-tabs .dijitTab {
	margin-right:auto;
	margin-bottom:2px;	
}
.nihilo .dijitTabContainerLeft-spacer,
.nihilo .dijitTabContainerRight-spacer {
	width: 2px;
	border: 1px solid #ccc;
	background: #f8f8f8;
}
.nihilo .dijitTabContainerTop-dijitContentPane .dijitTabContainerTop-tabs {
	border-left: 0px solid #ccc;
	border-top: 0px solid #ccc;
	border-right: 0px solid #ccc;
	padding-top: 0px;
	padding-left: 0px;	
}
.nihilo .dijitAccordionContainer {
	border-color: #ccc;	
}
.nihilo .dijitTabContainer-dijitAccordionContainer {
    border: none;
}
.nihilo .dijitAccordionContainer-dijitAccordionContainer {
    border: none;
    background-color: #fff;
}
.nihilo .dijitSplitContainer-dijitAccordionContainer,
.nihilo .dijitBorderContainer-dijitAccordionContainer {
    border: 1px #ccc solid;
    background-color: #fff;
}
.nihilo .dijitAccordionPane {
	background-color: #e7e7e7;
	font-size: 0.9em;
	font-weight: bold;
	color: #6d6d6d;
}
.nihilo .dijitAccordionTitle {
	background:#fafafa url(images/titleBar.png) repeat-x top left;
	border-top: 1px solid #dedede;
	padding: 5px 4px 6px 8px;
	cursor:pointer;
}
.nihilo .dijitAccordionTitle-selected  {
	background: #f9f9f9 url(images/accordionItemActive.png) top repeat-x;
	font-weight: bold;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	padding: 5px 4px 5px 8px;
	cursor: default;	
	color: #243C5F;
}
.nihilo .dijitAccordionArrow {
	background:url(images/spriteRoundedIconsSmall.gif) no-repeat -30px top;
	width:15px;
	height:15px;
	margin-top:-1px;
}
.nihilo .dijitAccordionTitle-selected .dijitAccordionArrow {
	background:url(images/spriteRoundedIconsSmall.gif) no-repeat -15px top;
	margin-top:-1px;
}
.nihilo .dijitAccordionText {
	margin-left: 4px;
	margin-right: 4px;
}
.nihilo .dijitAccordionBody {
	background: #fff;
}
 
.nihilo .dijitSplitContainerSizerH {
	background:url(images/splitContainerSizerV.png) repeat-y #fff;
	border:0;
	border-left:0px solid #d3d3d3;
	border-right:0px solid #d3d3d3;
	width:5px;
}
.nihilo .dijitSplitContainerSizerH .thumb {
	background:url(images/splitContainerSizerV-thumb.png) no-repeat;
	left:1px;
	width:2px;
	height:19px;
}
.nihilo .dijitSplitContainerSizerV {
	background:url(images/splitContainerSizerH.png) repeat-x #fff;
	border:0;
	border-top:0px solid #d3d3d3;
	border-bottom:0px solid #d3d3d3;
	height:2px;
}
.nihilo .dijitSplitContainerSizerV .thumb {
	background:url(images/splitContainerSizerH-thumb.png) no-repeat;
	top:1px;
	width:19px;
	height:5px;
}
 
.nihilo .dijitBorderContainer {
	background-color: #fcfcfc;
	padding: 5px;
}
.nihilo .dijitBorderContainer-dijitBorderContainer {
	border: none;
	padding: 0px;
}
.nihilo .dijitSplitterH,
.nihilo .dijitGutterH {
	background:#FCFCFC;
	border:0;
	border-left:0px solid #d3d3d3;
	border-right:0px solid #d3d3d3;
	height:5px;
}
.nihilo .dijitSplitterH .dijitSplitterThumb {
	background:url(images/splitContainerSizerH-thumb.png) no-repeat;
	top:1px;
	width:19px;
	height:2px;
}
.nihilo .dijitSplitterV,
.nihilo .dijitGutterV {
	background:#FCFCFC;
	border:0;
	border-top:0px solid #d3d3d3;
	border-bottom:0px solid #d3d3d3;
	width:5px;
}
.nihilo .dijitSplitterV .dijitSplitterThumb {
	background:url(images/splitContainerSizerV-thumb.png) no-repeat;
	left:1px;
	height:19px;
	width:5px;
}
.nihilo .dijitSplitterActive {
	font-size: 1px;
	background-image: none;
	background-color: #aaa;
	-moz-opacity: 0.6;
	opacity: 0.6;
	filter: Alpha(Opacity=60);
	margin: 0;
}
.nihilo .dijitInputField INPUT,
.nihilo .dijitTextBox,
.nihilo .dijitComboBox,
.nihilo .dijitSpinner {
	margin: 0em 0.1em;
}
.nihilo .dijitTextBox,
.nihilo .dijitComboBox,
.nihilo .dijitSpinner,
.nihilo .dijitInlineEditor input,
.nihilo .dijitTextArea {
	
	background:#fff url(images/validationInputBg.png) repeat-x top left;
	border:1px solid #d3d3d3;
	line-height: normal;
}
.dj_ie6 .nihilo .dijitTextBox,
.dj_ie6 .nihilo .dijitComboBox,
.dj_ie6 .nihilo .dijitSpinner,
.dj_ie6 .nihilo .dijitInlineEditor input,
.dj_ie6 .nihilo .dijitTextArea {
	background:#fff url(images/validationInputBg.gif) repeat-x top left;
}
.nihilo .dijitComboBox .dijitButtonNode {
	padding: 0 0.2em;
}
.nihilo .dijitComboBox .dijitButtonNode,
.nihilo .dijitSpinner .dijitButtonNode {
	
	border-color: #d3d3d3;
	border-left: 1px solid #d3d3d3;
}
.nihilo .dijitTextBoxDisabled,
.nihilo .dijitComboBoxDisabled,
.nihilo .dijitSpinnerDisabled,
.nihilo .dijitTextAreaDisabled {
	color: gray;
}
.dj_safari .nihilo .dijitTextBoxDisabled,
.dj_safari .nihilo .dijitComboBoxDisabled,
.dj_safari .nihilo .dijitSpinnerDisabled,
.dj_safari .nihilo .dijitTextareaDisabled {
	color: #eee;
}
.nihilo .dijitTextBoxFocused,
.nihilo .dijitComboBoxFocused,
.nihilo .dijitSpinnerFocused,
.nihilo .dijitTextAreaFocused {
	
	border-color:#b3b3b3;
}
.nihilo .dijitComboBoxFocused .dijitButtonNode, .nihilo .dijitSpinnerFocused .dijitButtonNode {
	border-left-color:#d3d3d3;
}
.nihilo .dijitSpinnerFocused .dijitDownArrowButton {
	border-top-color:#d3d3d3;
}
.nihilo .dijitError {
	border-color:#b3b3b3;
	background-color:#f9f7ba;
	background-image:none;
}
.dj_ie6 .nihilo .dijitError INPUT {
	
	background-color:#f9f7ba !important;
}
.nihilo .dijitErrorFocused {
	background-color:#ff6;
	background-image:none;
}
.dj_ie6 .nihilo .dijitErrorFocused INPUT {
	
	background-color:#ff6 !important;
}
.nihilo .dijitValidationIcon {
	
	width: 16px;
	background: transparent url(images/warning.png) no-repeat center center;
}
.nihilo .dijitComboBoxHighlightMatch {
	background-color:#d3d3d3;
}
.nihilo .dijitButtonNode {
	
	
	border:1px solid #dedede;
	border-bottom:1px solid #dedede;
	padding: 0.1em 0.2em 0.2em 0.2em; 
	background: #fff url(images/buttonEnabled.png) repeat-x top left;
}
.nihilo .dijitButtonNode button { 
	border: 0px; 
	background-color: transparent; 
} 
 
.nihilo .dijitButtonText {
	text-align: center; 
	padding: 0 0.3em;
}
.nihilo .dijitComboBox .dijitButtonNode {
	border-width: 0px 0px 0px 1px;
}
.nihilo .dijitArrowButton {
	color: #111;
}
.nihilo .dijitComboButton .dijitDownArrowButton {
	padding-right:4px;
}
.dj_ff2 .nihilo .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .nihilo .dijitComboButton .dijitDownArrowButtonFocused {
	border: 1px black dotted !important;
}
.nihilo .dijitButtonDisabled .dijitButtonNode,
.nihilo .dijitToggleButtonDisabled .dijitButtonNode,
.nihilo .dijitDropDownButtonDisabled .dijitButtonNode,
.nihilo .dijitComboButtonDisabled .dijitButtonNode,
.nihilo .dijitComboBoxDisabled,
.nihilo .dijitSpinnerDisabled,
.nihilo .dijitSpinnerDisabled .dijitButtonNode {
	
	border-color: #dedede;
	background:#fafafa url(images/buttonDisabled.png) top repeat-x;
	opacity: 0.60; 
}
.nihilo .dijitButtonHover .dijitButtonNode,
.nihilo .dijitButtonNodeHover,
.nihilo .dijitToggleButtonHover .dijitButtonNode,
.nihilo .dijitDropDownButtonHover .dijitButtonNode,
.nihilo .dijitComboButtonHover .dijitButtonContents,
.nihilo .dijitComboButtonDownArrowHover .dijitDownArrowButton,
.nihilo .dijitComboBoxHover .dijitDownArrowButton,
.nihilo .dijitSpinnerUpArrowHover .dijitUpArrowButton,
.nihilo .dijitSpinnerDownArrowHover .dijitDownArrowButton {
	
	
	color:#243C5F;
	background:#fcfcfc url(images/buttonHover.png) repeat-x top left;
}
.nihilo .dijitSpinnerUpArrowActive .dijitUpArrowButton,
.nihilo .dijitSpinnerDownArrowActive .dijitDownArrowButton,
.nihilo .dijitButtonActive .dijitButtonNode,
.nihilo .dijitToggleButtonActive .dijitButtonNode,
.nihilo .dijitDropDownButtonActive .dijitButtonNode,
.nihilo .dijitComboButtonActive .dijitButtonContents,
.nihilo .dijitDownArrowActive .dijitDownArrowButton,
.nihilo .dijitComboBoxActive .dijitDownArrowButton {
	
	border-color:#dedede;
	background: #f5f5f5 url(images/buttonActive.png) top left repeat-x;
}
.nihilo .dijitArrowButtonInner {
	background:url(images/spriteArrows.png) no-repeat left top;
	width: 11px;
}
.nihilo .dijitUpArrowButton .dijitArrowButtonInner { 
	background:url(images/spriteArrows.png) no-repeat -22px top; 
	width: 11px;
}
.dj_ie6 .nihilo .dijitArrowButtonInner {
	background:url(images/spriteArrows.gif) no-repeat left top;
	width: 11px;
}
.dj_ie6 .nihilo .dijitUpArrowButton .dijitArrowButtonInner {
	background:url(images/spriteArrows.gif) no-repeat -22px top;
	width: 11px;
}
.nihilo .dijitComboBox .dijitArrowButton .dijitArrowButtonInner {
	background:url(images/spriteArrows.png) no-repeat left center;
	width: 11px;
}
.dj_ie6 .nihilo .dijitComboBox .dijitArrowButton .dijitArrowButtonInner {
	background:url(images/spriteArrows.gif) no-repeat left center;
}
.nihilo .dijitComboBoxHover .dijitArrowButtonInner {
	
}
.nihilo .dijitToggleButton .dijitCheckBox,
.nihilo .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url(images/spriteCheckbox.gif);
}
.nihilo .dijitCheckBox,
.nihilo .dijitCheckBoxIcon {		
	background-image: url(images/spriteCheckbox.gif); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.nihilo .dijitCheckBox,
.nihilo .dijitToggleButton .dijitCheckBoxIcon {
	
	background-position: -16px;
}
.nihilo .dijitCheckBoxChecked,
.nihilo .dijitToggleButtonChecked .dijitCheckBoxIcon {
	
	background-position: 0px;
}
.nihilo .dijitCheckBoxDisabled {
	
	background-position: -48px;
}
.nihilo .dijitCheckBoxCheckedDisabled {
	
	background-position: -32px;
}
.nihilo .dijitCheckBoxHover {
	
	background-position: -80px;
}
.nihilo .dijitCheckBoxCheckedHover {
	
	background-position: -64px;
}
.nihilo .dijitToggleButton .dijitRadio,
.nihilo .dijitToggleButton .dijitRadioIcon {
	background-image: url(images/spriteRadio.gif);
}
.nihilo .dijitRadio,
.nihilo .dijitRadioIcon	{		
	background-image: url(images/spriteRadio.gif); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.nihilo .dijitRadio,
.nihilo .dijitToggleButton .dijitRadioIcon {
	
	background-position: -16px;
}
.nihilo .dijitRadioChecked,
.nihilo .dijitToggleButtonChecked .dijitRadioIcon {
	
	background-position: 0px;
}
.nihilo .dijitRadioCheckedDisabled {
	
	background-position: -48px;
}
.nihilo .dijitRadioDisabled {
	
	background-position: -32px;
}
.nihilo .dijitRadioHover {
	
	background-position: -80px;
}
.nihilo .dijitRadioCheckedHover {
	
	background-position: -64px;
}
.nihilo .dijitSliderProgressBarH {
	border-color: #aab0bb;
	background: #c0c2c5 url(images/sliderFull.png) repeat-x top left;
}
.nihilo .dijitSliderProgressBarV {
	border-color: #aab0bb;
	background: #c0c2c5 url(images/sliderFullVertical.png) repeat-y bottom left;
}
.nihilo .dijitSliderFocused .dijitSliderProgressBarH,
.nihilo .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url(images/sliderFullFocus.png);
}
.nihilo .dijitSliderFocused .dijitSliderProgressBarV,
.nihilo .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url(images/sliderFullVerticalFocus.png);
}
.nihilo .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url(images/sliderEmptyVertical.png) repeat-y bottom left;
}
.nihilo .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url(images/sliderEmpty.png) repeat-x top left;
}
.nihilo .dijitSliderBar {
	border-style: solid;
	outline:1px;
	
}
.nihilo .dijitSliderFocused .dijitSliderBar {
	border-color:#727272;	
}
.dijit_a11y .dijitSliderProgressBar {
	background-color:#333 !important;
}
.nihilo .dijitSliderImageHandleH {
	border:0px;
	width:15px;
	height:18px;
	background:url(images/preciseSliderThumb.png) no-repeat center top;
	#background:url(images/preciseSliderThumb.gif) no-repeat center top;
	cursor:pointer;
}
.nihilo .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url(images/preciseSliderThumbFocus.png);
	#background-image:url(images/preciseSliderThumbFocus.gif);
}
.nihilo .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url(images/sliderFull.png) repeat-x top left;
}
.nihilo .dijitSliderRightBumper {
	background: #dcdcdc url(images/sliderEmpty.png) repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}
.nihilo .dijitSliderImageHandleV {
	border:0px;
	width:20px;
	height:15px;
	background:url(images/sliderThumb.png) no-repeat center center;
	#background:url(images/sliderThumb.gif) no-repeat center center;
	cursor:pointer;
}
.nihilo .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url(images/sliderThumbFocus.png);
	#background-image:url(images/sliderThumbFocus.gif);
}
.nihilo .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url(images/sliderFullVertical.png) repeat-y bottom left;
}
.nihilo .dijitSliderTopBumper {
	background: #dcdcdc url(images/sliderEmptyVertical.png) repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}
.nihilo .dijitSliderIncrementIconH,
.nihilo .dijitSliderIncrementIconV {
	background:url(images/spriteRoundedIconsSmall.png) no-repeat -45px top;
	#background:url(images/spriteRoundedIconsSmall.gif) no-repeat -45px top;
	width:15px; height:15px;
	cursor:pointer;
}
.nihilo .dijitSliderIncrementIconH {
	background:url(images/spriteRoundedIconsSmall.png) no-repeat -30px top;
	#background:url(images/spriteRoundedIconsSmall.gif) no-repeat -30px top;
}
.nihilo .dijitSliderDecrementIconH,
.nihilo .dijitSliderDecrementIconV {
	width:15px;
	height:15px;
	cursor:pointer;
	background:url(images/spriteRoundedIconsSmall.png) no-repeat -15px top;
	#background:url(images/spriteRoundedIconsSmall.gif) no-repeat -15px top;
}
.nihilo .dijitSliderDecrementIconH { 
	background:url(images/spriteRoundedIconsSmall.png) no-repeat 0px top; 
	#background:url(images/spriteRoundedIconsSmall.gif) no-repeat 0px top; 
}
.nihilo .dijitSliderButtonInner {
	visibility:hidden;
}
.nihilo .dijitSliderDisabled {
	opacity:0.6 !important;
}
.dj_ie6 .nihilo .dijitSliderDisabled,
.dj_ie6 .nihilo .dijitSliderDisabled .dijitRuleContainer,
.dj_ie6 .nihilo .dijitSliderDisabled .dijitSliderRemainingBar,
.dj_ie6 .nihilo .dijitSliderDisabled .dijitSliderProgressBar {
	filter: gray() alpha(opacity=40);
}
.nihilo .dijitTreeNode {
    background : url(images/treeI.gif) no-repeat;
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 19px;
    zoom: 1;	
}
.nihilo .dijitTreeIsLast {
    background: url(images/treeI_half.gif) no-repeat;
}
.nihilo .dijitTreeLabel {
	font-weight: normal;
	margin-left: 3px;	
}
.nihilo .dijitTreeIsRoot {
    margin-left: 0;
    background-image: none;
}
.nihilo .dijitTreeExpando {
    width: 18px;
    height: 18px;
}
.nihilo .dijitTreeContent {
    min-height: 18px;
    min-width: 18px;
    padding-left:1px;
}
.nihilo .dijitTreeExpand {
    width: 18px;
    height: 18px;
    background-repeat : no-repeat;
}
.nihilo .dijitTreeNodeEmphasized {
    background-color: Highlight;
    color: HighlightText;
}
.nihilo .dijitTreeLabelFocused {
	outline: 1px invert dotted;
	background:#dde7f2;
}
.nihilo .dijitTreeExpandoOpened {
	background: url(images/spriteTree.gif) no-repeat -18px top;
}
.nihilo .dijitTreeExpandoClosed {
	background-image: url(images/spriteTree.gif);
}
.nihilo .dijitTreeExpandoLeaf {
	background: url(images/spriteTree.gif) no-repeat -36px top;
}
.nihilo .dijitTreeExpandoLoading {
	background-image: url(images/treeExpand_loading.gif);
}
.nihilo .dijitTreeIcon {
	width: 16px;
	height: 16px;
}
.nihilo .dijitFolderOpened {
	background: url(images/spriteDivIcons.gif) no-repeat -16px top;
}
.nihilo .dijitFolderClosed {
	background: url(images/spriteDivIcons.gif) no-repeat top left;
}
.nihilo .dijitLeaf {
	background: url(images/spriteDivIcons.gif) no-repeat -32px top;
}
.nihilo .dijitProgressBar {
	margin:2px 0px 2px 0px;
}
.nihilo .dijitProgressBarEmpty{
	
	background:#fff url(images/progressBarEmpty.png) repeat-x center center;
	border-color: #f8d582 #f8d582 #f8d582 #f8d582;
}
.nihilo .dijitProgressBarTile{
	
	background:#f0f0f0 url(images/progressBarFull.png) repeat-x center center;
}
.nihilo .dijitProgressBarFull {
	border-right:1px solid #f8d582;
}
.nihilo .dijitProgressBarLabel {
	
	color:#293a4b;
}
.nihilo .dijitProgressBarIndeterminate .dijitProgressBarTile {
	
	background:#cad2de url(images/progressBarAnim.gif) repeat-x center center;
}
 
 
.nihilo .dijitTitlePane .dijitTitlePaneTitle {
	background: #cccccc;
	background:#fff url(images/titleBar.png) repeat-x top left;
	border:1px solid #bfbfbf;
	padding:3px 4px;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: bold;
	color: #6d6d6d;
}
.nihilo .dijitTitlePaneTitle * {
	vertical-align: middle;
}
.nihilo .dijitTitlePane .dijitArrowNode {
	width:15px;
	height:15px;
}
.nihilo .dijitTitlePaneFocused .dijitTitlePaneTextNode {
	color: #243C5F;
}
.nihilo .dijitOpen .dijitTitlePaneTextNode {
	color: #243C5F;
}
.nihilo .dijitTitlePane .dijitClosed .dijitArrowNode {
	background: url(images/spriteRoundedIconsSmall.png) no-repeat -30px top;
}
.dj_ie6 .nihilo .dijitTitlePane .dijitClosed .dijitArrowNode {
	background:url(images/spriteRoundedIconsSmall.gif) no-repeat -30px top;
}
.nihilo .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url(images/spriteRoundedIconsSmall.png) no-repeat -15px top;
}
.dj_ie6 .nihilo .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url(images/spriteRoundedIconsSmall.gif) no-repeat -15px top;
}
.nihilo .dijitTitlePane .dijitArrowNodeInner {
	display:none;
}
.dijit_a11y .dijitTitlePane .dijitArrowNodeInner {
	display:inline !important;
	font-family:monospace;
	cursor: pointer;
	padding-bottom:.2em;
}
.dijit_a11y .dijitTitlePane .dijitArrowNode {
	display:none;
}
.nihilo .dijitTitlePaneContentOuter {
	background: #ffffff;
	border:1px solid #bfbfbf;
	border-top: 0px solid #3d3d3d;	
}
.nihilo .dijitTitlePaneContentInner {
	padding:10px;
}
.dj_ie6 .nihilo .dijitTitlePaneContentOuter,
.dj_ie6 .nihilo .dijitTitlePane .dijitTitlePaneTitle {
	zoom: 1;
}
.nihilo .dijitTitlePaneTextNode {
	margin-left: 4px;
	margin-right: 4px;
}
	
.nihilo .dijitCalendarIncrementControl {
	
	width:15px;
	height:15px;
	background-image: url(images/spriteRoundedIconsSmall.png);
	background-repeat: no-repeat
}
.dj_ie6 .nihilo .dijitCalendarIncrementControl {
	font-size:.1em;
	background-image: url(images/spriteRoundedIconsSmall.gif);
}
.nihilo .dijitCalendarIncreaseInner,
.nihilo .dijitCalendarDecreaseInner {
	visibility:hidden;
}
.nihilo .dijitCalendarDecrease {
	background-position: top left;
}
.nihilo .dijitCalendarIncrease {
	background-position: -30px top;
}
.nihilo table.dijitCalendarContainer {
	font-size: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border: 1px solid #ccc;
	margin: 0;
}
.nihilo .dijitCalendarMonthContainer th {
	
	background:#d3d3d3 url(images/titleBar.png) repeat-x top;
	padding-top:.3em;
	padding-bottom:.2em;
	text-align:center;
}
.dj_ie6 .nihilo .dijitCalendarMonthContainer th {
	padding-top:.2em;
	padding-bottom:.1em;
	
}
.nihilo .dijitCalendarDayLabelTemplate {
	
	background:#fefefe;
	font-weight:normal;
	padding-top:.15em;
	padding-bottom:.2em;
	border-bottom: 1px solid #eeeeee;
	color:#293a4b;
	text-align:center;
}
.nihilo .dijitCalendarBodyContainer {
	border-bottom: 1px solid #eeeeee;	
}
.nihilo .dijitCalendarMonthLabel {
	color:#293a4b;
	font-weight: bold;
}
.nihilo .dijitCalendarDateTemplate {
	
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	padding: 0.3em 0.3em 0.05em 0.3em;
	letter-spacing: 1px;
	background-color: #fdfdfd;
	border:#fdfdfd solid 1px !important;
}
.dj_ie .nihilo .dijitCalendarDateTemplate {
	padding: 0.1em .33em 0.02em .33em;
}
.nihilo .dijitCalendarPreviousMonth,
.nihilo .dijitCalendarNextMonth 		{
	
	color:#999999;
	background-color:#f5f5f5 !important;
	border:#f5f5f5 solid 1px !important;
}
.nihilo .dijitCalendarPreviousMonthDisabled,
.nihilo .dijitCalendarNextMonthDisabled	{
	
	background-color:#a4a5a6 !important;
}
.nihilo .dijitCalendarCurrentMonth {
	
}
.nihilo .dijitCalendarCurrentMonthDisabled {
		
	background-color:#bbbbbc !important;
}
.nihilo .dijitCalendarDisabledDate {
	
	
	text-decoration:line-through !important;
	cursor:default !important;
}
.nihilo .dijitCalendarCurrentDate {
	
	text-decoration:underline;
	font-weight:bold;
}
.nihilo .dijitCalendarSelectedDate {
	
	background-color:#ffe284 !important;
	color:black !important;
	border:#f7c95c solid 1px !important;
}
.nihilo .dijitCalendarYearContainer {
	
	background:white url(images/titleBar.png) repeat-x top;
}
.nihilo .dijitCalendarYearLabel {
	
	margin:0;
	padding:0.4em 0 0.25em 0;
	text-align:center;
}
.nihilo .dijitCalendarSelectedYear {
	
	color:black;
	padding:0.2em;
	padding-bottom:0.1em;
	background-color:#ffe284 !important;
	border:#f7c95c solid 1px !important;
}
.nihilo .dijitCalendarNextYear,
.nihilo .dijitCalendarPreviousYear {
	
	color:black !important;
	font-weight:normal;
}
.nihilo .dijitTimePickerTick,
.nihilo .dijitTimePickerMarker {
	border-color: #eeeeee;
}
.nihilo .dijitTimePickerTick {
	color:white;
}
.nihilo .dijitTimePickerMarker {
	background:#d3d3d3 url(images/titleBar.png) repeat-x top;
	color:#293a4b;
	font-weight: bold;
}
.nihilo .dijitTimePickerItemSelected {
	color: black;
	background: #ffe284 none;
}
.nihilo .dijitTimePickerItemHover {
	background: #d6d6dd none;
	color:black;
}
.nihilo .dijitTimePickerItemHover,
.nihilo .dijitTimePickerItemSelected {
	position: relative;
	z-index: 10;
}
.nihilo .dijitTimePickerTick .dijitTimePickerItemInner {
	font-size:0.4em;
}
.nihilo .dijitTimePickerItemHover .dijitTimePickerItemInner,
.nihilo .dijitTimePickerItemSelected .dijitTimePickerItemInner {
	font-size:1em;
}
.nihilo .dijitTimePickerMarkerHover {
	border-top: 1px solid #eeeeee;
}
.nihilo .dijitTimePickerTickHover,
.nihilo .dijitTimePickerTickSelected {
	margin-top:-0.3em;
	margin-bottom:-0.3em;
	border-bottom: none;
}
.dijit_a11y .dijitTimePickerTickHover {
	background-color: #CCC !important;
	border-top: 1px solid #333 !important;
	border-bottom: 1px solid #333 !important;
}
.dijit_a11y .dijitTimePickerMarkerHover {
	border-bottom-width: 2px;
}
.nihilo .dijitToolbar {
	border-bottom: 1px solid #ccc;
	background:#eaeaea url(images/titleBar.png) repeat-x top left;
}
.dj_ie6 .nihilo .dijitToolbar {
	height: 10px;
}
.nihilo .dijitToolbar .dijitButtonNode,
.nihilo .dijitToolbar .dijitComboButton .dijitButtonContents,
.nihilo .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;
	margin: 0px;
	padding: 0px;
	border: none;
	font-size: 12px;
}
.nihilo .dijitToolbar .dijitButton,
.nihilo .dijitToolbar .dijitToggleButton,
.nihilo .dijitToolbar .dijitDropDownButton,
.nihilo .dijitToolbar .dijitComboButton .dijitButtonContents,
.nihilo .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;	
	padding: 1px;	
}
.nihilo .dijitToolbar .dijitButtonChecked,
.nihilo .dijitToolbar .dijitToggleButtonChecked {
	background-color:#ffeeb9;
	border:1px solid #f7c95c;
	padding: 0;
}
.nihilo .dijitToolbar .dijitButtonCheckedHover,
.nihilo .dijitToolbar .dijitToggleButtonCheckedHover
 {
	background-color:#ffe284;
	border:1px solid #f7c95c;
	padding: 0;
}
.nihilo .dijitToolbar .dijitButtonHover,
.nihilo .dijitToolbar .dijitToggleButtonHover,
.nihilo .dijitToolbar .dijitDropDownButtonHover,
.nihilo .dijitToolbar .dijitComboButtonHover .dijitButtonContents,
.nihilo .dijitToolbar .dijitComboButtonDownArrowHover .dijitDownArrowButton {
	
	border: 1px solid #f7c95c;
	padding: 0;
	background-color:#ffe284;
}
.nihilo .dijitToolbar label {	
	padding: 3px 3px 0 6px;
}
.dj_ie .nihilo .dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ie .nihilo .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused,
.dj_ff2 .nihilo.dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .nihilo .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused {
	
	border: 1px #555 dotted !important;
	padding: 0px;
}
.nihilo .dijitDialog {
	background: #eee;
	border: 1px solid #d3d3d3;
	-webkit-box-shadow: 0px 5px 10px #adadad;
	padding: 0px;
}
.nihilo .dijitDialog .dijitDialogTitle {
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 0.9em;
	color: #3243C5F;
}
.nihilo .dijitDialog .dijitDialogPaneContent {
	background: #ffffff;
	border:none;
	border-top: 1px solid #d3d3d3; 
	padding:10px;
}
.nihilo .dijitDialogTitleBar {
	
	background: #fafafa url(images/titleBar.png) repeat-x top left;
	padding: 5px 6px 3px 6px;
	cursor: move;
	outline:0; 
}
.nihilo .dijitDialogTitle {
	
	font-weight: bold;
	padding: 4px;
	outline:0;
}
.nihilo .dijitDialogCloseIcon {
	
	background : url(images/spriteRoundedIconsSmall.png) no-repeat right top;
	position: absolute;
	vertical-align: middle;
	right: 6px;
	top: 4px;
	height: 15px;
	width: 15px;
	cursor: pointer;
}
.dj_ie .nihilo .dijitDialogCloseIcon {
	background : url(images/spriteRoundedIconsSmall.gif) no-repeat right top;
}
.nihilo .dijitDialogContent {
	
	padding: 8px;
}
.nihilo .dijitTooltip,
.nihilo .dijitTooltipDialog {
	
	background: transparent;	
}
.dijitTooltipBelow {
	
	padding-top: 10px;
}
.dijitTooltipAbove {
	
	padding-bottom: 10px;
}
.nihilo .dijitTooltipContainer {
	
	background-color: #fff;
	border:1px solid #d3d3d3;
	padding:0.45em;
}
.nihilo .dijitTooltipConnector {
	
	border:0px;
	z-index: 2;
}
.nihilo .dijitTooltipABRight .dijitTooltipConnector {
	
	left: auto !important;
	right: 6px;
}
.nihilo .dijitTooltipBelow .dijitTooltipConnector {
	
	top: 0px;
	left: 6px;
	background:url(images/tooltipConnectorUp.png) no-repeat top left;
	width:17px;
	height:11px;
}
.dj_ie .nihilo .dijitTooltipBelow .dijitTooltipConnector {
	background-image: url(images/tooltipConnectorUp.gif);
}
.nihilo .dijitTooltipAbove .dijitTooltipConnector {
	
	bottom: 0px;
	left: 6px;
	background:url(images/tooltipConnectorDown.png) no-repeat top left;
	width:17px;
	height:11px;
}
.dj_ie .nihilo .dijitTooltipAbove .dijitTooltipConnector {
	background-image: url(images/tooltipConnectorDown.gif);
}
.dj_ie6 .nihilo .dijitTooltipAbove .dijitTooltipConnector {
	bottom: -5px;
}
.nihilo .dijitTooltipLeft {
	padding-right: 10px;
}
.dj_ie6 .nihilo .dijitTooltipLeft {
	padding-left: 11px;
}
.nihilo .dijitTooltipLeft .dijitTooltipConnector {
	
	right: 0px;
	bottom: 3px;
	background:url(images/tooltipConnectorRight.png) no-repeat top left;
	width:11px;
	height:17px;
}
.dj_ie .nihilo .dijitTooltipLeft .dijitTooltipConnector {
	background-image: url(images/tooltipConnectorRight.gif);
}
.nihilo .dijitTooltipRight {
	padding-left: 10px;
}
.nihilo .dijitTooltipRight .dijitTooltipConnector {
	
	left: 0px;
	bottom: 3px;
	background:url(images/tooltipConnectorLeft.png) no-repeat top left;
	width:11px;
	height:17px;
}
.dj_ie .nihilo .dijitTooltipRight .dijitTooltipConnector {
	background-image: url(images/tooltipConnectorLeft.gif);
}
.nihilo .dijitMenu {
	border: 1px solid #d3d3d3;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}
.nihilo .dijitMenuItem {
	background-color: #fff;
	font-family: sans-serif;
	margin: 0px;
	color: #243C5F;
}
.nihilo .dijitMenuPreviousButton, .nihilo .dijitMenuNextButton {
	font-style: italic;
}
.nihilo .dijitMenuItem TD {
	padding:1px;
}
.nihilo .dijitMenuItemHover {
	background-color: #ffe284; 
	color: #243C5F;
}
.nihilo .dijitMenuItemIcon {
	width: 15px;
	height: 15px;
	
}
.nihilo .dijitMenuExpand {
	
	width:15px;
	height:15px;
	background-image: url(images/spriteRoundedIconsSmall.png);
	background-repeat: no-repeat;
	background-position: -30px top;
	display:block;
}
.dj_ie6 .nihilo .dijitMenuExpand {
	background-image:url(images/spriteRoundedIconsSmall.gif);
}
.nihilo .dijitMenuSeparator {
	background-color: #fff;
	height: 1px;
}
.nihilo .dijitMenuSeparatorTop {
	border-bottom: 1px solid #fff; 
}
.nihilo .dijitMenuSeparatorBottom {
	border-top: 1px solid #d3d3d3;
}
.nihilo .dijitCheckedMenuItemIconChar {
	display: none;
}
.nihilo .dijitCheckedMenuItemIcon {
	background-image: url(images/spriteCheckbox.gif);
	background-position: -16px;
}
.nihilo .dijitCheckedMenuItemIconChecked {
	background-position: 0px;
}
.nihilo .dijitMenuItemHover .dijitCheckedMenuItemIcon {
	background-position: -80px;
}
.nihilo .dijitMenuItemHover .dijitCheckedMenuItemIconChecked {
	background-position: -64px;
}
.dijitIEFixedToolbar {
	position:absolute;
	
	top: expression(eval((document.documentElement||document.body).scrollTop));
}
.nihilo .dijitToolbar .dijitToolbarSeparator {
	background: url(images/editor.gif);
}
.nihilo .dijitEditorIcon {
	background-image: url(images/editor.gif); 
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}
.nihilo .dijitDisabled .dijitEditorIcon {
	background-image: url(images/editorDisabled.gif); 
}
.nihilo .dijitEditorIconSep { background-position: 0px; }
.nihilo .dijitEditorIconBackColor { background-position: -18px; }
.nihilo .dijitEditorIconBold { background-position: -36px; }
.nihilo .dijitEditorIconCancel { background-position: -54px; }
.nihilo .dijitEditorIconCopy { background-position: -72px; }
.nihilo .dijitEditorIconCreateLink { background-position: -90px; }
.nihilo .dijitEditorIconCut { background-position: -108px; }
.nihilo .dijitEditorIconDelete { background-position: -126px; }
.nihilo .dijitEditorIconForeColor { background-position: -144px; }
.nihilo .dijitEditorIconHiliteColor { background-position: -162px; }
.nihilo .dijitEditorIconIndent { background-position: -180px; }
.nihilo .dijitEditorIconInsertHorizontalRule { background-position: -198px; }
.nihilo .dijitEditorIconInsertImage { background-position: -216px; }
.nihilo .dijitEditorIconInsertOrderedList { background-position: -234px; }
.nihilo .dijitEditorIconInsertTable { background-position: -252px; }
.nihilo .dijitEditorIconInsertUnorderedList { background-position: -270px; }
.nihilo .dijitEditorIconItalic { background-position: -288px; }
.nihilo .dijitEditorIconJustifyCenter { background-position: -306px; }
.nihilo .dijitEditorIconJustifyFull { background-position: -324px; }
.nihilo .dijitEditorIconJustifyLeft { background-position: -342px; }
.nihilo .dijitEditorIconJustifyRight { background-position: -360px; }
.nihilo .dijitEditorIconLeftToRight { background-position: -378px; }
.nihilo .dijitEditorIconListBulletIndent { background-position: -396px; }
.nihilo .dijitEditorIconListBulletOutdent { background-position: -414px; }
.nihilo .dijitEditorIconListNumIndent { background-position: -432px; }
.nihilo .dijitEditorIconListNumOutdent { background-position: -450px; }
.nihilo .dijitEditorIconOutdent { background-position: -468px; }
.nihilo .dijitEditorIconPaste { background-position: -486px; }
.nihilo .dijitEditorIconRedo { background-position: -504px; }
.nihilo .dijitEditorIconRemoveFormat { background-position: -522px; }
.nihilo .dijitEditorIconRightToLeft { background-position: -540px; }
.nihilo .dijitEditorIconSave { background-position: -558px; }
.nihilo .dijitEditorIconSpace { background-position: -576px; }
.nihilo .dijitEditorIconStrikethrough { background-position: -594px; }
.nihilo .dijitEditorIconSubscript { background-position: -612px; }
.nihilo .dijitEditorIconSuperscript { background-position: -630px; }
.nihilo .dijitEditorIconUnderline { background-position: -648px; }
.nihilo .dijitEditorIconUndo { background-position: -666px; }
.nihilo .dijitEditorIconWikiword { background-position: -684px; }
.nihilo .dijitEditorIconToggleDir { background-position: -540px; }
.nihilo .dijitEditorIconTabIndent { background-position: -702px; }
.nihilo .dijitEditorIconSelectAll { background-position: -720px; }
.nihilo .dijitEditorIconUnlink { background-position: -738px; }
.dijitColorPalette {
	border:1px solid #d3d3d3;
	background:#fff;
	-moz-border-radius: 0px !important;
}
